
.nav{
    display: flex;
    width: 100%;
    color: #525252;
}


.nav__logo__container{
    width:20%
}

.nav__logo__container > h1{
    margin-left: 10px;
    cursor: pointer;

}

.nav__socialLinks{
    display: flex;
}

.nav__links{
display: flex;
flex-grow: 1;
justify-content: space-evenly;
align-items: center;

}

.nav__links > h3{
    cursor: pointer;
}

.nav__links__socialContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.nav__links__social{
    object-fit: contain;
    height: 30px;
    cursor: pointer;

}

.nav__address{
    color: #BEA8A7;
  
}

